<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SiwTheatre - Scheda biglietto</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.field-label {
			font-size: 1.55rem;
			/* Adjust the size as needed */
		}

		.field-value {
			font-size: 1.175rem;
			/* Slightly smaller than the label */
		}
	</style>
</head>

<body>

	<header class="d-flex justify-content-between p-3 bg-light">
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/public/logout" class="btn btn-outline-secondary ml-2">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/public/login" class="btn btn-outline-primary">Login</a>
		</div>
	</header>

	<div class="container">
		<div class="text-center my-4">
			<a href="/"><img src="/images/logo-siwtheatre.png" class="img-fluid" alt="Logo SIW Theatre" /></a>
		</div>

		<h1 class="text-center my-4">Dettagli sul biglietto</h1>

		<div th:if="${ticket}">
			<h4 class="field-label">Data: <span class="field-value" th:if="${ticket.dateEvent}"
					th:text="${ticket.dateEvent}"></span>
			</h4>
			<h4 class="field-label">Opera: <span class="field-value" th:text="${ticket.opera.name}"></span>
			</h4>
			<h4 class="field-label">Durata: <span class="field-value" th:text="${ticket.opera.time}+' min'"></span>
			</h4>
			<h4 class="field-label">Prezzo: <span class="field-value" th:text="${ticket.price}+' euro'">
				</span>
			</h4>
			<h4 class="field-label">Tipologia: <span class="field-value" th:text="${ticket.type}">
				</span>
			</h4>
		</div>
		<div th:unless="${ticket}">Il biglietto richiesto non esiste</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>